<div class="contact">

    <div class="container">

        <div class="header">
            <h1>Contact Us</h1>
        </div>
        <div class="row">

            <div class="col-6">
            </div>

            <div class="col-6">
                <div class="contact-form">
                    <div class="header">
                        <h2>Send Query</h2>
                    </div>
                    <form method="POST">

                        <label for="first_name">First Name</label>
                        <input class="half-width" name="first_name" placeholder="First Name" type="text"/>

                        <label for="last-name">Last Name</label>
                        <input class="half-width" name="last-name" placeholder="Last Name" type="text"/>

                        <label for="email">Email</label>
                        <input name="email" placeholder="email@example.com" type="email"/>

                        <label for="number">Number</label>
                        <input name="number" placeholder="+1 888-8888" type="text"/>

                        <label for="query">Query</label>
                        <input name="query" placeholder="Enter Your Query Here ..." type="text"/>

                        <input type="submit" value="Submit"/>

                    </form>
                </div>
            </div>

        </div>
    </div>

</div>